In [1]:
from Bio.SeqIO.FastaIO import SimpleFastaParser
import pandas as pd
import numpy as np

In [2]:
with open('total.sequences.copy.fasta') as fasta_file:  # Will close handle cleanly
    identifiers = []
    aaseq = []
    for title, sequence in SimpleFastaParser(fasta_file):
        identifiers.append(title.split(None, 1)[0])  # First word is ID
        aaseq.append(sequence)

In [3]:
### convert list to series

s1 = pd.Series(identifiers, name='ID')
s2 = pd.Series(aaseq, name='length')

In [4]:
s1.head()

0    Spur_008305
1    Spur_024343
2    Spur_000379
3    Spur_014715
4    Spur_026629
Name: ID, dtype: object

In [5]:
s2.head()

0    MAENADKPSAKGSTKAQENNMNSSLKDTDSKVTSPQNGSTNDSDNE...
1    MPAKAQPAGKKGSKKAKAPRPSGGKKRRRRRKESYGIYIYKVLKQV...
2    MAPKSRTDAQRRAGKKGPAVRESAAKVEARAEAKAKAKAKQDALKT...
3    AIQYIQSIKGERGRAESETLDEDDLSPKHEFYDRLPDTEVIREVAE...
4    MATIYRSTKSAKAPPCMYLCKTMLYHSPWASLIDVMPDCCERGASF...
Name: length, dtype: object

In [6]:
df = pd.DataFrame({"ID": s1, "Sequence": s2})

In [7]:
df.head()

            ID                                           Sequence
0  Spur_008305  MAENADKPSAKGSTKAQENNMNSSLKDTDSKVTSPQNGSTNDSDNE...
1  Spur_024343  MPAKAQPAGKKGSKKAKAPRPSGGKKRRRRRKESYGIYIYKVLKQV...
2  Spur_000379  MAPKSRTDAQRRAGKKGPAVRESAAKVEARAEAKAKAKAKQDALKT...
3  Spur_014715  AIQYIQSIKGERGRAESETLDEDDLSPKHEFYDRLPDTEVIREVAE...
4  Spur_026629  MATIYRSTKSAKAPPCMYLCKTMLYHSPWASLIDVMPDCCERGASF...

In [8]:
df2 = df[df.ID.str.contains('^Spur')]

In [9]:
df2.head()

            ID                                           Sequence
0  Spur_008305  MAENADKPSAKGSTKAQENNMNSSLKDTDSKVTSPQNGSTNDSDNE...
1  Spur_024343  MPAKAQPAGKKGSKKAKAPRPSGGKKRRRRRKESYGIYIYKVLKQV...
2  Spur_000379  MAPKSRTDAQRRAGKKGPAVRESAAKVEARAEAKAKAKAKQDALKT...
3  Spur_014715  AIQYIQSIKGERGRAESETLDEDDLSPKHEFYDRLPDTEVIREVAE...
4  Spur_026629  MATIYRSTKSAKAPPCMYLCKTMLYHSPWASLIDVMPDCCERGASF...

In [10]:
spur_list = pd.Series.tolist(df2['ID'])

In [11]:
spur_seq = pd.Series.tolist(df2['Sequence'])

In [12]:
ofile = open("spur.txt", "w")

for i in range(len(spur_seq)):
    ofile.write(">" + spur_list[i] + "\n" +spur_seq[i] + "\n")

#do not forget to close it

ofile.close()